### Q1

Name the four built-in data structures in python. Give one examples for each

### Answer

- Lists : data=["hello","fellows","Naa"]
- Tuple : data=("Naa","Dorothy","Samuel","Abla")
- Dictionary : data={"Name" : "Abla", "Subject": "Science", "Score": 90}
- Set: data= {"Naa","Abla","Samuel"}

### Q2

State two differences between a list and a tuple in Python.

### Answer

- Lists are mutable, meaning their elements can be changed, added, or removed after the list is created whiles 
  Tuples are immutable, which means once a tuple is created, you cannot change, add, or remove elements from it
- Lists are defined using square brackets [] while Tuples are defined using parentheses ().

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

### Answer

In [18]:
animal_list=['Lion', 'Elephant', 'Giraffe', 'Dolphin', 'Penguin']
animal_list

['Lion', 'Elephant', 'Giraffe', 'Dolphin', 'Penguin']

In [19]:
# Print the first two animals
print(animal_list[0:2])

['Lion', 'Elephant']

In [20]:
#Print the last two animals
print(animal_list[-2:])

['Dolphin', 'Penguin']

In [21]:
#Add three extra animals to the variable `animal_list`
animal_list.append("goat")
animal_list.append("sheep")
animal_list.append("dog")
print(animal_list)

['Lion', 'Elephant', 'Giraffe', 'Dolphin', 'Penguin', 'goat', 'sheep', 'dog']

In [26]:
#Remove the first two animals from the variable `animal_list`
animal_list.pop(0)
animal_list.pop(1)
print(animal_list)

['Giraffe', 'Penguin', 'goat', 'sheep', 'dog']

In [30]:
#How many animals are in the `animal_list`?
print("There are "+ str(len(animal_list)) + " animals left in the list")

There are 5 animals left in the list

In [31]:
#Create a variable animal_set which stores the set of animal_list
animal_set= set(animal_list)
print(animal_set)

{'goat', 'Penguin', 'dog', 'sheep', 'Giraffe'}

In [32]:
#How many elements are in the animal_set?
print("There are "+ str(len(animal_set)) + " animals in the set")

There are 5 animals in the set

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

### Answer

In [33]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [41]:
# a
first=list(suitcase[0:2])
print("first list = "+ str(first))

first list = ['sunglasses', 'hat']

In [42]:
# b
middle=list(suitcase[2:4])
print("middle list = " + str(middle))

middle list = ['passport', 'laptop']

In [43]:
# c
last=list(suitcase[-2:])
print("last list = " + str(last))

last list = ['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

### Answer

In [59]:
values = [20,25,30,40,45,50,55,60,65,70]
new_value=35
for i in range(len(values)):
    if values[i] > new_value:
        values.insert(i,new_value)
        break
else:
    values.append(new_value)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

### Answer

- A tuple is used over a list when you want to ensure data integrity

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

### Answer

In [1]:
region_capital = {
    'Ashanti': 'Kumasi',
    'Greater Accra': 'Accra',
    'Northern': 'Tamale',
    'Central': 'Cape Coast',
    'Western': 'Sekondi-Takoradi'}

print(region_capital)

{'Ashanti': 'Kumasi', 'Greater Accra': 'Accra', 'Northern': 'Tamale', 'Central': 'Cape Coast', 'Western': 'Sekondi-Takoradi'}

In [61]:
#Print out the keys of region_capital
print(region_capital.keys())

dict_keys(['Ashanti', 'Greater Accra', 'Northern', 'Central', 'Western'])

In [63]:
#Print out the values of region_capital
print(region_capital.values())

dict_values(['Kumasi', 'Accra', 'Tamale', 'Cape Coast', 'Sekondi-Takoradi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

### Answer

In [64]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

In [65]:
#total number of elements in values?
print(len(values))

15

In [68]:
#highest occuring number in the values variable?
max(values)

6

In [70]:
#Convert values into a set 
values_set=set(values)
print(values_set)

{1, 2, 3, 4, 5, 6}

In [72]:
#How many elements are in the variable values_set?
print(len(values_set))

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

### Answer

In [81]:
num_dict={}
for i in range(1,16):
    num_dict[i]= i**2
print(num_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

### Answer

In [2]:
num_dict={}
num_dict["x"]=list(range(11,21))
num_dict["y"]=list(range(21,31))
num_dict["z"]=list(range(31,41))
print(num_dict)
print(num_dict["x"][4])
print(num_dict["y"][4])
print(num_dict["z"][4])

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}
15
25
35